body {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.mainheader {
  grid-area: header;
}

.first-content {
  grid-area: first-content;
}

.second-content {
  grid-area: second-content;
}

.third-content {
  grid-area: third-content;
}

.fourth-content {
  grid-area: fourth-content;
}

.fifth-content {
  grid-area: fifth-content;
}

.sixth-content {
  grid-area: sixth-content;
}

.seventh-content {
  grid-area: seventh-content;
}
.eighth-content {
  grid-area: eighth-content;
}

.ninth-content {
  grid-area: ninth-content;
}

.tenth-content{
  grid-area: tenth-content;
}

.eleventh-content {
  grid-area: eleventh-content;
}

.panel {
  grid-area: sidebar;
}

.mainfooter {
  grid-area: footer;
} 



.wrapper {
  width: 100%;
  /* max-width: 960px; */
  margin: 0 auto;
  display: grid;
  /* grid-row-gap: 10px; */
  grid-template-areas:
    "header"
    "first-content"
    "second-content"
    "third-content"
    "fourth-content"
    "fifth-content"
    "seventh-content"
    "seventh-content"
    "eighth-content"
    "ninth-content"
    "tenth-content"
    "eleventh-content"
    "sidebar"
    "footer";
}

@media (min-width: 550px) {

  .wrapper {
    /* grid-column-gap: 2em; */
    /* grid-row-gap: 20px; */
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
      "header  header"
      "first-content first-content"
      "second-content second-content"
      "third-content third-content"
      "fourth-content fourth-content"
      "fifth-content fifth-content"
      "sixth-content sixth-content"
      "seventh-content seventh-content"
      "eighth-content eighth-content"
      "ninth-content ninth-content"
      "tenth-content tenth-content"
      "eleventh-content eleventh-content"
      "footer footer"
  }
}

@media (min-width: 550px) {
  .wrappersubgrid {
    width: 100%;
    /* max-width: 960px; */
    /* margin: 0 auto; */
    display: grid;
    /* grid-row-gap: 10px; */
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "wrappersubgrid-logo wrappersubgrid-nav wrappersubgrid-navsearch";
  }
}

@media (min-width: 550px) {
  .wrappersubgrid-zero {
    width: 100%;
    /* max-width: 960px; */
    /* margin: 0 auto; */
    display: grid;
    /* grid-row-gap: 10px; */
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
    "wrappersubgridzero-article wrappersubgridzero-article"
    "wrappersubgridzero-article wrappersubgridzero-article";
  }
}

@media (min-width: 550px) {
  .wrappersubgrid-one {
      width: 100%;
      /* max-width: 960px; */
      /* margin: 0 auto; */
      display: grid;
      /* grid-row-gap: 10px; */
      grid-template-columns: repeat(4,1fr);
      grid-template-areas:
      "wrappersubgridone-article wrappersubgridone-article wrappersubgridone-article wrappersubgridone-publicity";
  }
}

@media (min-width: 550px) {
  .wrappersubgrid-two {
      width: 100%;
      /* max-width: 960px; */
      /* margin: 0 auto; */
      display: grid;
      /* grid-row-gap: 10px; */
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-areas:
      "wrappersubgridtwo-announce wrappersubgridtwo-article wrappersubgridtwo-article ";
  }
}

@media (min-width: 550px) {
  .wrappersubgrid-third {
      width: 100%;
      /* max-width: 960px; */
      /* margin: 0 auto; */
      display: grid;
      /* grid-row-gap: 10px; */
      grid-template-columns: 1fr 1fr 2fr;
      grid-template-areas:
      "wrappersubgridthird-article wrappersubgridthird-article wrappersubgridthird-announce";
  }
}

@media (min-width: 550px) {
  .wrappersubgrid-fourth {
      width: 100%;
      /* max-width: 960px; */
      /* margin: 0 auto; */
      display: grid;
      /* grid-row-gap: 10px; */
      grid-template-columns: 0.8fr 3fr;
      grid-template-areas:
      "wrappersubgridfour-picture wrappersubgridfour-description";
  }
}

@media (min-width: 550px) {
  .wrappersubgrid-fifth {
    width: 100%;
    /* max-width: 960px; */
    /* margin: 0 auto; */
    display: grid;
    /* grid-row-gap: 10px; */
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
    "wrappersubgridfive-article wrappersubgridfive-article"
    "wrappersubgridfive-article wrappersubgridfive-article"
    "wrappersubgridfive-article wrappersubgridfive-article";
  }
}

@media (min-width: 550px) {
  .wrappersubgrid-sixth {
    width: 100%;
    /* max-width: 960px; */
    /* margin: 0 auto; */
    display: grid;
    /* grid-row-gap: 10px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "wrappersubgridsix-link wrappersubgridsix-link wrappersubgridsix-link wrappersubgridsix-link";
  }
}

.flex-container {
  display: flex;
}

.flex-item {
  font-size: 4em;
  text-align: center;
}

.nav-item {
  margin-right: 1em;
  margin-left: 1em;
  list-style: none;
}

header {
  background-color: #d33a2c;
}

.wrappersubgridzero-article:nth-child(1) {
  background-color: #bc3428;
}

.wrappersubgridzero-article:nth-child(2) {
  background-color: #c7372a;
}

.wrappersubgridzero-article:nth-child(3) {
  background-color: #b13125;
}

.wrappersubgridzero-article:nth-child(4) {
  background-color: #bc3428;
}

ul.first-content-list > li {
  display: inline-block;
}

ul.first-content-list > li > a {
  text-decoration-line: none;
  color: white;
}

ul.first-content-list {
  padding-left: 0;
}

ul.first-content-list > li {
  padding-right: 3em;
}

.wrappersubgridzero-article  div {
  margin-left: 5em;
  width: 70%;
}

.wrappersubgridzero-article > div.first-line:nth-child(1) {
  margin-top: 15em;
}

.wrappersubgridzero-article > div:nth-child(1) {
  margin-top: 7em;
}

.wrappersubgridzero-article > div:nth-child(2) {
  margin-bottom: 14em;
}

div.wrappersubgridzero-article .sharp {
  color: black;
}

.wrappersubgridzero-article > div > figure,
.wrappersubgridzero-article > div > figure > a > div {
  margin-left: 0;
}

.wrappersubgridzero-article  div:nth-child(1) > figure,
.wrappersubgridzero-article  div:nth-child(1) > p,
.wrappersubgridzero-article  div:nth-child(1) > figure > a > div {
  display: inline;
}

.wrappersubgridzero-article  div > h1 {
  font-size: 3em;
}

.wrappersubgridzero-article  div > h1 > a {
  text-decoration: none;
  color: white;
}

.wrappersubgridzero-article > div > p {
  vertical-align: top;
}

.wrappersubgrid-one {
  margin-left: 3.5em;
  margin-top: 4.5em;
  margin-bottom: 4.5em;
} 

.wrappersubgridone-article {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;
}

article.wrappersubgridone-article:nth-child(1):hover{
  transform: scale(1.10);
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
}

/* article.wrappersubgridone-article:nth-child(1)>h2:hover{
  color:red;
} */

article.wrappersubgridone-article:nth-child(2):hover{
  transform: scale(1.10);
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
}

article.wrappersubgridone-article:nth-child(3):hover{
  transform: scale(1.10);
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.second-content, .third-content, .fourth-content, .fifth-content {
  background-color: #f6f3f2;
  display: flex;
}

.wrappersubgrid-one, .wrappersubgrid-two, .wrappersubgrid-third {
  margin-left: 3.5em;
  margin-right: 3em;
  margin-top: 4.5em;
  margin-bottom: 4.5em;
} 

.wrappersubgridtwo-article, .wrappersubgridtwo-announce {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;
}
/* .fourth-content  */
div.wrappersubgrid-two article.wrappersubgridtwo-article:nth-child(2):hover{
  transform: scale(1.10);
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
}

div.wrappersubgrid-two article.wrappersubgridtwo-article:nth-child(3):hover{
  transform: scale(1.10);
  background-color: white;
  padding-left: 1em;
  padding-right: 0;
}

div.wrappersubgrid-third article.wrappersubgridtwo-article:nth-child(1):hover{
  transform: scale(1.10);
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
}

div.wrappersubgrid-third article.wrappersubgridtwo-article:nth-child(2):hover{
  transform: scale(1.10);
  background-color: white;
  padding-left: 1em;
  padding-right: 0;
}

/* .wrappersubgrid-one>article.wrappersubgridone-article:nth-child(1):hover  {

} */

.fifth-content > p a {
  color: black;
  text-decoration-line: none;
}

.fifth-content > p {
  text-align: center;
  /* border-bottom: 4px solid black; */
  border-bottom: 4px solid red;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8em;
}

.fifth-content > p a:hover {
  color: red;
  border-bottom: 4px solid red;
}

.sixth-content {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #1b71bb;
  color: white;
}

